@inject NavigationManager NavigationManager
@using System.Text.Json
@using Microsoft.JSInterop
@inject IJSRuntime JSRuntime


<div id="header" class="icon-group">
    <a href="#home" target="_top">Home</a>
    <a href="#about" target="_top">About</a>
    <a href="everett_resume.pdf" target="_top" class="icon-group" download="everett_resume.pdf" @onclick="downloadObject">Resume
    <img src="/images/download-icon.svg" class="bar-icon icon-group" alt="download" /></a>
    @* <a href="#portfolio" target="_top">Portfolio</a> *@
    @* <a href="#contact" target="_top">Contact</a> *@
</div>

@code {
    async Task downloadObject()
    {
        var filePath = "everett_resume.pdf";
        var fileName = "everett_resume.pdf";

        using (var fileStream = new FileStream(filePath, FileMode.Open))
        {
            using var streamRef = new DotNetStreamReference(stream: fileStream);
            await JSRuntime.InvokeVoidAsync("downloadFileFromStream", fileName, streamRef);
        }
    }
}
